################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitModuleTest/obj
/GitModuleTest/bin