################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitModuleTest/obj
/GitModuleTest/bin
/ExtentionProject/obj
/ExtentionProject/bin/Debug/netstandard2.0
